<!DOCTYPE html>
%html
  %head
    %script(type='text/javascript' src='/js/jquery/current.js')
    - if @js
      - @js.each do |js|
        %script{:type=>'text/javascript', :src=>js}
    %link(rel="stylesheet" type="text/css" href="/css/default.css")
    - if @css
      - @css.each do |css|
        %link{:rel=>'stylesheet', :type=>'text/css', :href=>css}
    %title 
      = @title || 'social sync'
  %body
    .default-wrapper
      - if @zones
        %ul.zones-with-pipes
          - @zones.keys.each_with_index do |key, idx|
            - zone = @zones[key]
            %li
              %a{:href=>zone.url}
                = zone.label
                - unless idx == @zones.size - 1
                  %span.separator
                    |
        .clear
      - if flash_message = session.delete(:msg)
        %h3 success
        %div.screen-like
          %div.backend-response
            :preserve
              #{flash_message}
      - if error_message = session.delete(:err)
        %h3.error sorry, an error occured:      
        %div.screen-like.error
          %div.backend-response.error
            :preserve
              #{error_message}
      = @content